
/FZC.Api/obj/
/FZC.Api/bin/

/FZC.Application/obj/
/FZC.Application/bin/

/FZC.Domain/obj/
/FZC.Domain/bin/

/FZC.Infrastructure/obj/
/FZC.Infrastructure/bin/
/.vs/
/FZC.Api/obj/FZC.Api.csproj.nuget.dgspec.json
/FZC.Api/obj/FZC.Api.csproj.nuget.g.props
/FZC.Api/obj/FZC.Api.csproj.nuget.g.targets
/FZC.Api/obj/project.assets.json
/FZC.Api/obj/project.nuget.cache
/FZC.Api/obj/Debug
/PromptBuilder/PromptBuilder/obj
/PromptBuilder/PromptBuilder/bin
/PromptBuilder/.vs
/FZC.Infrastructure/Migrations
