@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var vocabularies = ViewData["vocabularies"];
    foreach (var vocabulary in vocabularies)
    {
        var vocabularyName = vocabulary.GetType().Name;
        var vocabularyDescription = vocabulary.GetType().GetProperty("Description")?.GetValue(vocabulary, null);
        <div>
            <h2>@vocabularyName</h2>
            <p>@vocabularyDescription</p>
        </div>
    })
}
